@font-face {
	font-family: "LiberationSans-Regular";
	src: url("liberation_sans/LiberationSans-Regular.ttf");
}

@font-face {
	font-family: "LiberationSans-Bold";
	src: url("liberation_sans/LiberationSans-Bold.ttf");
}

h1 {
	font-family: 'LiberationSans-Regular';
}

h1 {
	font-family: 'LiberationSans-Bold';
}

html {
	font-size: 30px;
	text-align: center;
}

footer {
	font-size: 18px;
	left: 0;
	bottom: 0;
	height: 60px;
	width: 100%;
	position: absolute;
	overflow: hidden;
}

.center {
	top: 43%;
	left: 50%;
	position: absolute;
	transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
}

.split {
	height: 100%;
	width: 50%;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
	padding-top: 20px;
}

.left {
	left: 0;
	color: #FFFFFF;
	background-color: #000000;
}

.right {
	right: 0;
	color: #000000;
	background-color: #FFFFFF;
}
